$primary-color: #155E75;
$light-bg: #f0f2f5;
$tag-bg: #FFEAD5;
$tag-color: #986636;
$border-color: #DCD4E2;
$radius: 8px;

.customFooter {
    text-align: center;
    background: $primary-color;
    color: white;
}